.nav {
	opacity: 0.9;
	visibility: visible;
	height: 100%;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;

}
 .nav li{
  -webkit-animation: fadeInUp 0.5s ease forwards;
	        animation: fadeInUp 0.5s ease forwards;
	-webkit-animation-delay: 0.35s;
	        animation-delay: 0.35s;
 }

 .nav li:nth-of-type(2) {
	-webkit-animation-delay: 0.45s;
	        animation-delay: 0.45s;

}
.nav li:nth-of-type(3) {
	-webkit-animation-delay: 0.65s;
	        animation-delay: 0.65s;
}
.nav li:nth-of-type(4) {
	-webkit-animation-delay: 0.75s;
	        animation-delay: 0.75s;
}

.nav ul li a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #fff;
	transition: 0.35s;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 30%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 30%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}