@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}

.menu-bar.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #f2ebeb;
}
.menu-bar.active .middle {
  opacity: 0;
  background: #f9f1f1;
}
.menu-bar.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #ede7e7;
}
.menu-bar span {
  background: #140b0b;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.menu-bar span:nth-of-type(2) {
  top: 10px;
}
.menu-bar span:nth-of-type(3) {
  top: 20px;
}
.menu-bar.active .top {
  top: -2px;
}
.hero-image {
  width: 80%;
  float: right;
}

h1,
h2,
h3 {
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
p {
  line-height: 1.7rem;
}
span {
  line-height: 1rem;
}
.navegacion {
  padding: 0rem 2rem;
}

.container {
  margin: 6rem 0rem 6rem 0rem;
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    line-height: 3rem;
  }
  .navegacion {
    padding: 2rem 4rem 0rem 4rem;
  }
  .container {
    margin: 8rem 0rem 8rem 0rem;
  }
}
@media (min-width: 1024px) {
  span {
    line-height: 1.5rem;
  }
  .container {
    margin: 10rem 0rem 10rem 0rem;
  }
}
@media (min-width: 1280px) {
  h1,
  h2,
  h3 {
    line-height: 3.7rem;
  }
  p {
    line-height: 2rem;
  }
}
.nav li {
  -webkit-animation: fadeInUp 0.5s ease forwards;
  animation: fadeInUp 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.nav li:nth-of-type(2) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.nav li:nth-of-type(3) {
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
.nav li:nth-of-type(4) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.video-container {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
}

.play-pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 5rem;
  width: 90px; /* Ancho y alto iguales para que sea un círculo */
  height: 90px;
  border-radius: 50%; /* Hace que el botón sea redondo */
  background-color: rgba(0, 0, 0, 0.356); /* Color de fondo */
  color: rgb(119, 124, 128); /* Color del icono */
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-pause-btn:hover {
  color: red;
}
.line {
  height: 1px;
  background-color: #140b0b;
  width: 95%;
  margin: 0 auto;
}
.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  animation: slide 10s linear infinite;
}
.guion {
  padding-left: 5rem;
}
.slide {
  white-space: nowrap; /* Evitar saltos de línea */
  padding-top: 10px;
}

@keyframes slide {
  100% {
    transform: translateX(90%);
  }
  0% {
    transform: translateX(-90%);
  }
}
